@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@source "../views/**.jet";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark, cupcake
}

@custom-variant dark (&:where([data-theme="night"], [data-theme="night"] *));

@theme {
	--font-sans: "Funnel Sans", sans-serif;
}

