name: Release

on:
  release:
    types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run Tests
        run: go test ./... -v

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      
      - name: NPM CleanInstall
        run: npm ci

      - name: Build tailwindcss
        run: npx @tailwindcss/cli -i theme.css -o assets/css/theme.css

      - name: Build WASM
        run: GOOS=js GOARCH=wasm go build -o assets/js/main.wasm wasm/wasm.go

      - name: Build GMS
        run: go build -o ./build/gms .

      - name: Create ZIP
        run: zip -j gms.zip ./build/gms assets/*

      - name: Generate Checksums
        run: sha256sum gms.zip > checksums.txt

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.zip
            *.sha256
            checksums.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
